<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Electronic Page</title>
</head>
<body>
   <h1>Electronics</h1>
    <form action="/formApp/output/">
        <label>Laptop: <input type="text" name="Laptop" ></label><br><br>
        <label>Mobiles: <input type="text" name="mobiles" ></label><br><br>
        <label>Fridge: <input type="text" name="fridge" ></label><br><br>
        <label>Television: <input type="text" name="television" ></label><br><br>
        <label>Headphones: <input type="text" name="headphones" ></label><br><br>
        <label>smartwatch: <input type="text" name="smartwatch" ></label><br><br>
        <button type="submit">click</button>
    </form>
</body>
</html>